.feynman {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 790px;
    margin: 0 auto 100px;
    padding-top: 80px;
    background-color: #f2f2f2;
    background-image: url(../../images/feynman.png);
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom 0px left 0px;
  }