.resources__logo {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 38px;
    object-fit: cover;
    object-position: center;
    transition: opacity 1s ease-out;
}

.resources__logo:hover {
    opacity: 50%;
}